$color_primary_1: #454545;

$color_neutral_1: #c3c3c3;

$color_positive_1: #81cd3f;
$color_negative_1: #d66566;

.Orderbook {
  width: 100%;

  tbody {
    position: relative;
    margin: 14px 0;
  }

  th,
  td {
    position: relative;
    padding: 7px 7px;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  th {
    padding-bottom: 15px;
    color: $color_neutral_1;
  }


  .asks td:first-child {
    color: $color_positive_1;
  }

  .bids td:first-child  {
    color: $color_negative_1;
  }

  .avg {
    font-size: 20px;
    text-align: center;
    color: $color_positive_1;

    td {
      padding: 14px 7px;

      font-size: 20px;
      text-align: center;

      border: 2px solid #eee;
      border-left: 0;
      border-right: 0;
    }
  }
}



